/uploads
/actions/callback_debug.txt
payment_log.txt
.env
debug.php
db.sql
diagnose_app_status.php
direct_sql_fix.php
fix_all_statuses.php
fix_db_schema.php
fix_ref_codes.php
fix_statuses.php
db_schema.php
create_index.php
check_database.php
check_db.php
schema_output.html
test.php
update_db.php
/.vscode
